body {
  font-family: Inter, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 72vh;
  padding: 120px 3% 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/bg_shade.svg');
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.last {
  margin-bottom: 100px;
  padding-top: 60px;
  border-radius: 20px;
  background-color: #caddff;
  background-image: url('../images/blob2.svg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container.about {
  margin-top: 48px;
  padding: 54px;
  border-radius: 20px;
  background-image: linear-gradient(264deg, rgba(0, 0, 0, 0.84) 28%, transparent), url('../images/about3.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.container.about._1 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(28%, rgba(0, 0, 0, 0.84)), to(transparent)), url('../images/about4.jpg');
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.84) 28%, transparent), url('../images/about4.jpg');
}

.container.about._2 {
  background-image: linear-gradient(264deg, rgba(0, 0, 0, 0.84) 28%, transparent), url('../images/about5.jpg');
}

.container.buttons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.container.assessment {
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 12px;
  background-color: #deebf7;
}

.content-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 590px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading {
  margin-top: 0px;
  margin-bottom: 15px;
  color: #f05146;
  font-size: 55px;
  line-height: 1;
  letter-spacing: -0.5px;
}

.paragraph {
  max-width: 490px;
  color: #000;
  font-size: 17px;
  line-height: 1.3;
  font-style: normal;
  text-align: center;
}

.paragraph._2 {
  color: #fff;
}

.paragraph.about {
  text-align: left;
}

.button {
  margin-right: 15px;
  padding: 18px 35px;
  border-radius: 45px;
  background-color: #f05146;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-size: 12px;
  font-weight: 500;
}

.button:hover {
  background-color: #5479f7;
}

.button.button-space {
  margin-top: 25px;
  margin-bottom: 57px;
}

.button.button-space.a {
  margin-top: -14px;
}

.button.button-space.contact {
  position: static;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.button.full {
  background-color: #5479f7;
}

.service-card-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-column-large {
  width: 60%;
}

.footer-icon {
  margin-right: 10px;
}

.footer-logo {
  width: 110px;
  margin-bottom: 25px;
}

.footer {
  padding: 140px 5% 20px;
  background-color: #5479f7;
}

.footer-text-02 {
  margin-bottom: 0px;
  color: #2e0300;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.footer-link {
  margin-bottom: 15px;
  margin-left: 1px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.footer-link:hover {
  color: #000;
}

.footer-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.column {
  width: 29%;
  padding: 10px;
}

.column.home {
  width: 25%;
}

.service-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 60px 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 14px 14px 200px 0 rgba(0, 22, 50, 0.06);
}

.card-content-wrap {
  margin-bottom: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #6b539a;
  text-align: center;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 8px;
  color: #2e3642;
  text-align: center;
}

.hero-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  padding: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-block.a {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content-block-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  padding: 25px 55px 25px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/blob1.svg');
  background-position: -10% 0%;
  background-size: 40%;
  background-repeat: no-repeat;
}

.section-content {
  padding: 120px 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  background-image: url('../images/bg_shade.svg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.column-wrap-reversed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 140px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.title {
  max-width: 500px;
  margin-bottom: 15px;
  color: #f05146;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.heading-primary {
  max-width: 500px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #1a3066;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary.h3-centre {
  max-width: 700px;
  color: #000;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
}

.heading-primary.h3-centre.about {
  text-align: left;
}

.heading-primary.h3-centre-white {
  max-width: 700px;
  color: #fff;
  text-align: center;
}

.heading-primary.h4-centre {
  color: #000;
  font-size: 22px;
}

.heading-primary.h4-centre.last {
  color: #000;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

.heading-primary.h4-centre.last.assessment {
  color: #fff;
  font-size: 29px;
  font-weight: 500;
}

.button-wrap-hero {
  margin-top: 35px;
}

.link {
  color: #546681;
  font-size: 16px;
  text-decoration: none;
}

.link:hover {
  color: #5479f7;
}

.column-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-list-wrap {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  padding: 15px 12px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 9px 0 rgba(44, 62, 80, 0.1);
}

.navigation-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #546681;
  font-size: 16px;
  text-decoration: none;
}

.navigation-link:hover {
  color: #484dff;
}

.navigation-block-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-block-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-list {
  background-color: transparent;
}

.dropdown-list.w--open {
  z-index: 7;
  min-width: 460px;
  padding-top: 15px;
  border-radius: 15px;
}

.logo-image {
  width: 130px;
}

.dropdown-mobile {
  display: none;
}

.navigation-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-text {
  width: 100%;
  text-decoration: none;
}

.container-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.phone-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.mobile-button-link {
  display: none;
}

.arrow-down {
  margin-right: 7px;
  margin-left: 8px;
}

.navigation {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9;
  min-height: 100px;
  padding: 25px 5%;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.08);
}

.dropdown-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.feature-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 12px 15px 10px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
}

.feature-wrap:hover {
  background-color: rgba(72, 77, 255, 0.03);
}

.feature-icon {
  width: 40px;
  margin-right: 16px;
}

.feature-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.short-title {
  margin-bottom: 2px;
  color: #2e3642;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

.paragraph-small {
  max-width: 450px;
  margin-bottom: 0px;
  color: #3b4c5b;
  font-size: 14px;
  letter-spacing: -0.2px;
}

.hero-image-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-block-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  padding: 25px 25px 25px 55px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/blob1.svg');
  background-position: 105% 10%;
  background-size: 40%;
  background-repeat: no-repeat;
}

.slider-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 45px;
  margin-right: 15px;
  padding: 15px 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 1px 1px 45px 0 rgba(0, 22, 50, 0.1);
}

.slider-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  padding: 20px 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 1px 1px 55px 0 rgba(0, 22, 50, 0.08);
}

.text-span {
  color: #484dff;
}

.hero-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.paragraph-hero {
  max-width: 490px;
  color: #546681;
  font-size: 17px;
  line-height: 1.4;
  font-style: normal;
}

.content-block-hero {
  position: relative;
  max-width: 590px;
}

.button-navigation {
  margin-right: 15px;
  padding: 18px 35px;
  border-radius: 50px;
  background-color: #f05146;
  -webkit-transition: background-color 600ms ease;
  transition: background-color 600ms ease;
  font-size: 16px;
}

.button-navigation:hover {
  background-color: #5479f7;
}

.title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.legal-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1240px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.legal-text {
  color: #fff;
  font-size: 16px;
}

.social-link-wrap {
  display: none;
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  padding: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fbdee3;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.benefits-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.blog-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-right: 0px;
  padding: 15px 16px 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 14px 14px 40px 0 rgba(118, 126, 173, 0.08);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.blog-card:hover {
  box-shadow: 14px 14px 40px 0 rgba(118, 126, 173, 0.12);
  -webkit-transform: translate(0px, -4px);
  -ms-transform: translate(0px, -4px);
  transform: translate(0px, -4px);
}

.blog-card._2 {
  padding-top: 0px;
  padding-bottom: 16px;
  background-color: #5479f7;
}

.get-started {
  min-height: 500px;
  padding: 120px 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  background-image: url('../images/bg_shade.svg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.benefits {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 145px 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #99b9ff;
  background-image: url('../images/blob2.svg');
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: no-repeat;
}

.benefits.about {
  margin-top: 137px;
  margin-bottom: 60px;
}

.benefits.contact {
  margin-bottom: 100px;
  padding-top: 140px;
  padding-bottom: 40px;
  background-color: #dce6fc;
}

.container-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

.text-span-4 {
  color: #000;
}

.bold-text {
  color: #d7372c;
}

.benefits-image {
  width: 70%;
  height: auto;
  margin-top: 28px;
  margin-bottom: 37px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.benefits-image._2 {
  width: 90%;
}

.text-span-5 {
  color: #f05146;
}

.text-span-6 {
  color: #f05146;
}

.text-span-7 {
  color: #f05146;
}

.button-2 {
  border-radius: 20px;
  background-color: #f05146;
}

.button-2.a {
  margin-top: 17px;
  background-color: #fff;
  color: #f05146;
}

.text-span-8 {
  color: #f05146;
}

.image {
  max-width: 50%;
  box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.41);
}

.text-span-9 {
  color: #f05146;
}

.paragraph-3 {
  width: 50%;
  max-width: 100%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  font-weight: 300;
  text-align: right;
}

.paragraph-3._1 {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  text-align: left;
}

.text-span-10 {
  color: #f05146;
  font-weight: 600;
}

.features-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  max-width: 100%;
  margin-top: 28px;
  padding: 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  border-radius: 20px;
  background-color: #fff;
}

.features-div._1 {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.paragraph-5 {
  color: #000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  text-align: left;
}

.features-img {
  margin-right: 60px;
}

.text-field-cf4 {
  width: 400px;
  min-width: 250px;
  margin-top: 0px;
  margin-left: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent #d4d4d4;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.37);
  color: #5578f7;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.text-field-cf4::-webkit-input-placeholder {
  color: #ff928b;
  font-size: 14px;
  font-weight: 400;
}

.text-field-cf4:-ms-input-placeholder {
  color: #ff928b;
  font-size: 14px;
  font-weight: 400;
}

.text-field-cf4::-ms-input-placeholder {
  color: #ff928b;
  font-size: 14px;
  font-weight: 400;
}

.text-field-cf4::placeholder {
  color: #ff928b;
  font-size: 14px;
  font-weight: 400;
}

.text-field-cf4.big {
  height: 100%;
  min-width: 300px;
  margin-top: 0px;
  margin-left: 0px;
  border-style: none;
  background-color: #f7f7f7;
}

.form-subwrapper-cf4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-column-cf4 {
  margin-right: 40px;
}

.form-column-cf4.right {
  width: 300px;
  margin-right: 0px;
}

.form-field-wrapper-cf4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.success-message-cf4 {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.52);
  font-weight: 600;
}

.error-message-cf4 {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.form-cf4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-block {
  width: 100%;
  max-width: 100%;
}

.image-2 {
  -webkit-filter: contrast(400%);
  filter: contrast(400%);
}

.image-3 {
  -webkit-filter: contrast(400%);
  filter: contrast(400%);
}

.image-4 {
  -webkit-filter: contrast(400%);
  filter: contrast(400%);
}

.text-block {
  color: #000;
  font-size: 20px;
}

.text-span-11 {
  font-family: Montserrat, sans-serif;
  font-size: 23px;
  font-weight: 300;
}

.text-span-11:hover {
  color: #001632;
}

.link-3 {
  color: #fff;
  text-decoration: none;
}

.assessment-final {
  width: 60%;
}

.assessment-final-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-field-assessment {
  width: 80%;
  border-radius: 7px;
  box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, 0.35);
  color: rgba(51, 51, 51, 0.72);
}

.form-field-assessment::-webkit-input-placeholder {
  font-weight: 400;
}

.form-field-assessment:-ms-input-placeholder {
  font-weight: 400;
}

.form-field-assessment::-ms-input-placeholder {
  font-weight: 400;
}

.form-field-assessment::placeholder {
  font-weight: 500;
  color: black;
}

@media screen and (max-width: 991px) {
  .header {
    padding-top: 160px;
  }

  .content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .heading {
    text-align: center;
  }

  .footer-column {
    width: 20%;
  }

  .footer-column-large {
    width: 40%;
  }

  .column {
    width: 100%;
  }

  .hero-block {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .image-block {
    width: 100%;
    min-height: auto;
    margin-bottom: 35px;
  }

  .content-block-left {
    width: 100%;
    padding-right: 25px;
  }

  .section-content {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .column-wrap-reversed {
    margin-bottom: 80px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .column-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .dropdown-link {
    width: 100%;
    min-width: 170px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    color: #3b4c5b;
    font-size: 16px;
  }

  .dropdown-link:hover {
    background-color: rgba(115, 167, 213, 0.09);
  }

  .dropdown-link.w--current {
    color: #ff6f20;
  }

  .navigation-block-right {
    width: 100%;
  }

  .dropdown-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 15px;
  }

  .navigation-link-wrap {
    display: none;
  }

  .dropdown-toggle {
    padding: 0px;
  }

  .container-navigation {
    position: relative;
    z-index: 99;
  }

  .mobile-button-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 55px;
    height: 55px;
    padding: 17px;
    border-radius: 50px;
    background-color: rgba(84, 102, 129, 0.08);
  }

  .mobiel-dropdown {
    right: 10%;
  }

  .mobiel-dropdown.w--open {
    min-width: 270px;
    margin-top: 74px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 3px 0 rgba(84, 102, 129, 0.13);
  }

  .feature-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-icon {
    margin-bottom: 15px;
  }

  .hero-image-wrap {
    width: 100%;
    min-height: auto;
  }

  .content-block-right {
    width: 100%;
    padding-left: 25px;
  }

  .hero-content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .paragraph-hero {
    text-align: center;
  }

  .content-block-hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .blog-card {
    padding: 20px 20px 35px;
  }

  .get-started {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container-flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .success-message-cf4 {
    font-size: 16px;
    font-weight: 600;
  }
}

@media screen and (max-width: 767px) {
  .footer-column {
    width: 50%;
  }

  .footer-column-large {
    width: 50%;
    margin-bottom: 25px;
  }

  .section-content {
    padding-right: 3%;
    padding-left: 3%;
  }

  .navigation-link-wrap {
    display: none;
  }

  .phone-wrap {
    display: none;
  }

  .content-block-right {
    padding: 10px;
  }

  .button-navigation {
    display: none;
  }

  .blog-card {
    width: 100%;
    margin-bottom: 35px;
  }

  .get-started {
    padding-right: 3%;
    padding-left: 3%;
  }

  .text-field-cf4.big {
    height: 150px;
  }

  .form-subwrapper-cf4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .form-column-cf4 {
    width: 100%;
    margin-right: 0px;
  }

  .form-cf4 {
    text-align: center;
  }

  .assessment-final {
    width: 80%;
  }
}

@media screen and (max-width: 479px) {
  .container.about {
    width: 95%;
    padding-right: 36px;
    border-radius: 10px;
    background-image: linear-gradient(264deg, rgba(0, 0, 0, 0.84) 63%, rgba(0, 0, 0, 0.26)), url('../images/about3.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .container.about._1 {
    padding-left: 21px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(38%, rgba(0, 0, 0, 0.84)), to(rgba(0, 0, 0, 0.48))), url('../images/about4.jpg');
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.84) 38%, rgba(0, 0, 0, 0.48)), url('../images/about4.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .container.about._2 {
    background-image: linear-gradient(264deg, rgba(0, 0, 0, 0.84) 33%, rgba(0, 0, 0, 0.4)), url('../images/about5.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .container.buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .paragraph {
    text-align: center;
  }

  .button {
    margin-right: 0px;
    margin-bottom: 15px;
    text-align: center;
  }

  .button.button-space {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .button.button-space.a {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .button.button-space.home {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .footer-column {
    width: 100%;
    margin-top: 43px;
  }

  .footer-column-large {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }

  .column.home {
    width: 95%;
  }

  .image-block {
    padding: 8px;
  }

  .section-content {
    margin-top: 167px;
  }

  .column-wrap-reversed {
    margin-bottom: 0px;
  }

  .title {
    font-size: 10px;
  }

  .heading-primary.h3-centre {
    font-size: 28px;
    text-align: center;
  }

  .heading-primary.h4-centre {
    font-size: 17px;
    text-align: center;
  }

  .heading-primary.h4-centre.last.assessment {
    font-size: 20px;
  }

  .button-wrap-hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .phone-wrap {
    display: none;
  }

  .mobile-button-link {
    width: 70px;
    height: 70px;
  }

  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero-image-wrap {
    padding: 10px;
  }

  .legal-wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .legal-text {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    text-align: center;
  }

  .benefits-wrap.home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .blog-card {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .paragraph-3 {
    width: 120%;
    max-width: 120%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    line-height: 20px;
  }

  .paragraph-3._1 {
    width: 100%;
  }

  .features-div {
    width: 95%;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .features-div._1 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .paragraph-5 {
    margin-top: 31px;
    margin-right: auto;
    margin-left: auto;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
  }

  .features-img {
    margin-right: auto;
    margin-left: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .text-field-cf4.big {
    width: 100%;
    min-width: 250px;
  }

  .form-column-cf4.right {
    width: 100%;
  }

  .text-span-11 {
    font-size: 17px;
  }

  .assessment-final {
    width: 95%;
  }

  .form-field-assessment {
    width: 90%;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
